@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:#01aede;
}

body{
  font-family: "Teko", sans-serif;
}

